<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
			<property name="connection.connection_string">Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="|DataDirectory|\Model\Database\Database.mdf";Integrated Security=True;Connect Timeout=30</property>
			<mapping assembly="WebApplication1" />
		</session-factory>
	</hibernate-configuration>
</configuration>
